#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: url("https://oir.mobi/uploads/posts/2021-03/1616528591_6-p-fon-dlya-chata-6.jpg");

}
.main{
  border: 1px solid whitesmoke;
  padding: 20px;
  background: #4675a3;
}
.bg-color{
  background: #586091;

}
.post-text {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: whitesmoke;
}

.post-title {
    color: #1c1d1f;
}
.post-text {
  color: #1c1d1f
}
.blog-Title {
  color: whitesmoke;
}

.bg-footer {
  background: #586091;

}